.list-wrapper {
  background: url('../../assets/bg-tile.593a981b9c58673acc64.png');
}

.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 145px;
}

.load-more {
  text-align: center;
  margin: 25px 0 45px;
}

button {
  border: 2px solid #b7b0f6;
  font-size: 1em;
  padding: 5px 15px;
  background: #fff;
  font-weight: 700;
  color: #b7b0f6;
  border-radius: 5px;
  transition: 150ms ease-in;
  outline: 0;
}

button:not(:disabled) {
  cursor: pointer;
}

button:hover:not(:disabled) {
  background: #b7b0f6;
  color: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

app-pokemon-list-item {
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.34);
  margin: 20px;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  display: block;
  justify-content: center;
  align-items: center;
  flex-basis: auto;
  margin-bottom: 25px;
  transition: all ease-in .2s;
  text-align: center;
  outline: 0;
}

app-pokemon-list-item:hover {
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0,0,0,.34);
}
