<header>
  <app-pokemon-profile-avatar
      *ngIf="pokemon"
      [pokemon]="pokemon"></app-pokemon-profile-avatar>
</header>
<div class="detail-wrapper">
  <div class="container">
        <div>
            <app-pokemon-profile
                *ngIf="pokemon"
                [pokemon]="pokemon"></app-pokemon-profile>
        </div>
        <div class="stats-wrapper">
            <app-pokemon-stats
                *ngIf="pokemon"
                [pokemon]="pokemon"></app-pokemon-stats>
        </div>
        <div class="moves-wrapper">
            <app-pokemon-moves
                *ngIf="pokemon"
                [pokemon]="pokemon"></app-pokemon-moves>
        </div>
    </div>
</div>
