.detail-wrapper {
  background: url('../../assets/bg-tile.593a981b9c58673acc64.png');
}

.container {
    background-color: #fff;
    box-sizing: border-box;
    width: 80%;
    padding: 0 15px 15px 15px;
    margin: 0 auto 0 auto;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
}

header {
  background: url('../../assets/21093171.jpg') top center/cover no-repeat;
  min-height: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: "Baloo Paaji", cursive;
}
