<div *ngIf="pokemon">
    <h2 class="pokemon-name">Moves</h2>
    <div class="pokemon-moves row">
        <h2 *ngFor="let move of pokemon.moves" class="individual-move">{{move.move.name.replace("-", " ")}}</h2>
    </div>   
</div>